*{
    margin: 0;
    padding: 0;
}
.imagen{
    justify-content: center;
    height: 200px;
    width: 200px;
}
.sobreNos{
    position: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/fondoSobreNosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100% 130%;
}

.text{
    text-align: center;
    color: white;
    padding: 0 22%;
    font-size: 20px;
}

.titulo{
    color: white;
    font-size: 30px;
}
.text, h3{
    padding-top: 25px;
}